<!--▽ヘッダー▽-->
<header class="siteHeader siteHeader--en">
	<div class="headerMainNav headerMainNav--en clearfix">
		<h1 class="siteLogo"><a href="/"><img src="/image/common/logo.png" alt="IIMヒューマン・ソリューション" width="113" height="27" /></a></h1>
		<nav id="gNav">
			<p id="Menu"><img src="/image/common/menu_smt.png" alt="Menu" width="25" height="22" /></p>
			<div class="navWrap">
				<p id="close"><img src="/image/common/icon_close.png" alt="Close" width="20" height="19" /></p>
				<ul>
					<li class="act">
						<a href="/english/">Corporate Profile</a>
					</li>
					<li>
						<a href="mailto:web@iimhs.co.jp">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav><!--/#gNav-->

		<div id="scWrap">
			<ul>
				<li><a href="/">J<span>A</span>P<span>ANESE</span></a></li>
				<li>EN<span>GLISH</span></li>
			</ul>

			<div class="siteSearch siteSearch--header">
				<p id="scBtn">Search</p>
				<form class="siteSearchForm" name="seek" method="get" action="/search/">
					<input class="siteSearchBox" name="q" data-bind="value: searchQuery" type="text">
					<input class="siteSearchBtn" value="" type="submit">
				</form>
			</div>
		</div><!--/#scWrap-->
	</div><!--/.headerMainNav-->

</header>
<!--△ヘッダー△-->
