<!--▽ヘッダー▽-->
<header>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__brand">
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap rd-navbar-centered" style="height: 110px;">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-left">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/uipath/">Home</a></li>
                    <!--<li><a href="about-us.html">About Us</a></li>-->
                    <li><a href="/uipath/overture/#sec1">UiPath製品概要</a>
                      <!--<ul class="rd-navbar-dropdown">
                        <li><a href="/uipath/overture/index.html#sec2">uipathを導入する目的</a></li>
                        <li><a href="/uipath/overture/index.html#sec3">ラインナップ</a></li>
                        <li><a href="/uipath/overture/index.html#sec4">xoBotとは？</a></li>
                        <li><a href="/uipath/overture/index.html#sec5">動作環境</a></li>
                        <li><a href="/uipath/overture/index.html#sec6">導入の流れ</a></li>
                        <li><a href="/uipath/overture/index.html#sec7">導入後のイメージ</a></li>
                      </ul>-->
                    </li>
                                    	
                    <li><a href="/uipath/service/poc-service.html">サービス内容</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/uipath/service/poc-service.html">UiPath導入前（PoC）診断サービス</a></li>
                        <!--<li><a href="/uipath/service/#sec2">運用支援</a></li>
                        <li><a href="/uipath/service/#sec3">ライセンス</a></li>
                        <li><a href="/uipath/collaboration/#sec4">トレーニング</a></li>-->
                      </ul>
                    </li>


                    <li><a href="/uipath/seminar/">UiPath製品紹介セミナー</a></li>

                    
                    <li><a href="/uipath/contact/"><!-- 資料請求・ -->お問い合わせ</a>
                      <!-- <ul class="rd-navbar-dropdown"> -->
                        <!--<li><a href="/uipath/contact/#sec1">uipathに関する概要資料</a></li>-->
                        <!-- <li><a href="/uipath/contact/#sec2">UiPathに関する各種お問い合わせ・お見積り・ご相談</a></li> -->
                      <!-- </ul> -->
                    </li>
               
                </div>
              </div>

              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/"> <img class="logo-default" src="/image/common/logo.png" alt="" width="198" height="42"/><img class="logo-inverse" src="/image/common/logo.png" alt="" width="198" height="42"/></a></div>
              </div>
              <!--<div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>-->
            </div>
          </nav>
        </div>
      </header>
<!--△ヘッダー△-->
