<!--▽ヘッダー▽-->
<header>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__brand"><img src="images/logo-default-198x42.png" alt="" width="198" height="42"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap rd-navbar-centered" style="height: 110px;">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-left">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/winactor/">Home</a></li>
                    <!--<li><a href="about-us.html">About Us</a></li>-->
                    <li><a href="/winactor/overture/#sec1">WinActorとは</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/overture/index.html#sec2">RPAの使用により得られる効果</a></li>
                        <li><a href="/winactor/overture/index.html#sec3">自動化の利用シーン例</a></li>
                        <li><a href="/winactor/overture/index.html#sec4">WinActorの特長</a></li>
                        <li><a href="/winactor/overture/index.html#sec5">製品ラインナップ</a></li>
                        <li><a href="/winactor/overture/index.html#sec6">動作環境</a></li>
                      </ul>
                    </li>
                    
                    <li><a href="/winactor/cases/">WinActor活用事例一覧</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/cases/it.html">IT企業の営業部門</a></li>
                        <li><a href="/winactor/cases/kinyu-houjin.html">金融法人営業</a></li>
                        <li><a href="/winactor/cases/kinyu-keiei.html">金融経営管理</a></li>
                        <li><a href="/winactor/cases/kinyu-shisan.html">金融資産運用</a></li>
                        <li><a href="/winactor/cases/service-call.html">サービスコールセンタ</a></li>
                        <li><a href="/winactor/cases/butsuryu.html">物流契約担当</a></li>
                        <li><a href="/winactor/cases/chain.html">小売りチェーン店商品企画部門</a></li>
                        <li><a href="/winactor/cases/soumu-jinji.html">総務・人事</a></li>
                      </ul>
                    </li>
                	
                    <li><a href="/winactor/seminar/">WinActorセミナー</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/seminar/free-gettingstarted.html">初めての「WinActor」無償入門セミナー</a></li>
                        <li><a href="/winactor/seminar/free-operation.html">「RPA運用・保守標準化セミナー」</a></li>
                        <li><a href="/winactor/seminar/paying-beginner.html">「WinActor」ハンズオンセミナー有償初級コース</a></li>
                        <li><a href="/winactor/seminar/paying-intermediate.html">「WinActor」ハンズオンセミナー有償中級コース</a></li>
                        <li><a href="/winactor/seminar/free-businessimprovement.html">「RPAノウハウセミナー」(講義編)</a></li>
                       	<li><a href="/winactor/seminar/free-businessimprovement-practice.html">「RPAノウハウセミナー」(実践編)</a></li>
                        <!--<li><a href="/winactor/seminar/paying-businessimprovement.html">「RPA成功ノウハウ実演セミナー」(有償版)</a></li>-->
                       	<li><a href="/winactor/topics/">開催実績</a></li>            

                      </ul>
                    </li>
                    <li><a href="/winactor/service/">サービス</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/service/support/">導入・運用サポート</a></li>
                        <li><a href="/winactor/service/faq/">よくあるトラブルと解決方法</a></li>
                      </ul>
                    </li>
                     <li><a href="/winactor/contact/">資料請求・お問合わせ</a>
                    </li>                 
                </div>
              </div>

              <!-- RD Navbar Panel
              <div class="rd-navbar-panel">
                RD Navbar Toggle
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                 RD Navbar Brand
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"> <img class="logo-default" src="images/logo-default-198x42.png" alt="" width="198" height="42"/><img class="logo-inverse" src="images/logo-inverse-198x42.png" alt="" width="198" height="42"/></a></div>
              </div>-->
              
            </div>
          </nav>
        </div>
</header>
<!--△ヘッダー△-->
