<!--▽ヘッダー▽-->
<header>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__brand"><img src="images/logo-default-198x42.png" alt="" width="198" height="42"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap rd-navbar-centered">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-left">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/index.html">Home</a></li>
                    <!--<li><a href="about-us.html">About Us</a></li>-->
                    <li><a href="/winactor/overture/#sec1">WinActorとは</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/overture/index.html#sec2">RPAの使用により得られる効果</a></li>
                        <li><a href="/winactor/overture/index.html#sec3">自動化の利用シーン例</a></li>
                        <li><a href="/winactor/overture/index.html#sec4">WinActorの特長</a></li>
                        <li><a href="/winactor/overture/index.html#sec5">製品ラインナップ</a></li>
                        <li><a href="/winactor/overture/index.html#sec6">動作環境</a></li>
                      </ul>
                    </li>
                    <!--一時非表示
                    <li><a href="workex/">適応業務例</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="#">経理業務での活用アイディア</a></li>
                        <li><a href="#">マーケティング業務での活用アイディア</a></li>
                        <li><a href="#">人事での活用アイディア</a></li>
                        <li><a href="#">会計・財務での活用アイディア</a></li>
                        <li><a href="#">金融・銀行での活用アイディア</a></li>
                        <li><a href="#">医療・クリニックでの活用アイディア</a></li>
                        <li><a href="#">自治体での活用アイディア</a></li>
                        <li><a href="#">製造業での活用アイディア</a></li>
                      </ul>
                    </li>
                	-->
                    <li><a href="/winactor/seminar/">WinActorセミナー</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/seminar/free-businessimprovement.html">(無償)自動化ツール導入による業務改善方法紹介セミナー</a></li>
                        <li><a href="/winactor/seminar/free-gettingstarted.html">初めてのWinActor無償入門コース</a></li>
                       <li><a href="/winactor/seminar/paying-businessimprovement.html">(有償)自動化ツール導入による業務改善方法紹介セミナー</a></li>            
                        <li><a href="/winactor/seminar/paying-beginner.html">WinActorハンズオンセミナー有償初級コース</a></li>
                        <li><a href="/winactor/seminar/paying-intermediate.html">WinActorハンズオンセミナー有償中級コース</a></li>

                        <li><a href="#">開催実績・開催報告</a></li>
                      </ul>
                    </li>
                    <li><a href="/winactor/service/">サービス</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/service/support.html">導入・運用サポート</a></li>
                        <li><a href="/winactor/service/faq.html">よくあるトラブルと解決方法</a></li>
                      </ul>
                    </li>
                     <li><a href="/winactor/contact/">資料請求・お問合わせ</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/winactor/contact/offer.html">資料請求</a></li>
                        <li><a href="/winactor/contact/contact.html">お問合わせ</a></li>
                      </ul>
                    </li>                 
                </div>
              </div>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"> <img class="logo-default" src="images/logo-default-198x42.png" alt="" width="198" height="42"/><img class="logo-inverse" src="images/logo-inverse-198x42.png" alt="" width="198" height="42"/></a></div>
              </div>
              <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
              <div class="rd-navbar-aside-right rd-navbar-collapse">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                      <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                      <div class="rd-search-results-live"></div>
                    </div>
                    <button class="rd-search-form-submit mdi mdi-magnify"></button>
                  </form>
                </div><a class="button button-sm button-default-outline" href="contacts.html">request a quote </a>
              </div>
            </div>
          </nav>
        </div>
</header>
<!--△ヘッダー△-->
