<!--▽ヘッダー▽-->
<header>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__brand"><img src="images/logo-default-198x42.png" alt="" width="198" height="42"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap rd-navbar-centered">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-aside-left">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/xoblos/">Home</a></li>
                    <!--<li><a href="about-us.html">About Us</a></li>-->
                    <li><a href="/xoblos/overture/#sec1">xoBlosとは</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/overture/index.html#sec2">製品概要</a></li>
                        <li><a href="/xoblos/overture/index.html#sec3">価格・ライセンス・ラインナップ</a></li>
                        <li><a href="/xoblos/overture/index.html#sec4">動作環境</a></li>
                        <li><a href="/xoblos/overture/index.html#sec5">導入の流れ</a></li>
                        <li><a href="/xoblos/overture/index.html#sec6">導入後のイメージ</a></li>
                      </ul>
                    </li>
                    
                    <!--<li><a href="/xoblos/idea/">使い方・活用アイディア</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/idea/it.html">***業務での活用アイディア</a></li>
                      </ul>
                    </li>
                    -->
                	
                    <li><a href="/xoblos/task/">解決できる課題</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/task/free-gettingstarted.html">***の課題を解決</a></li>
                        <!--<li><a href="#">開催実績・開催報告</a></li>-->
                      </ul>
                    </li>

                    <li><a href="/xoblos/collaboration/">RPA「WinActor」とxoBlos</a></li>


                    <!--<li><a href="/xoblos/case/">事例</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/case/">ユーザー紹介</a></li>
                        <li><a href="#">開催実績・開催報告</a></li>
                      </ul>
                    </li>

                    <li><a href="/xoblos/seminar/">セミナー</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/seminar/">コース</a></li>
                      </ul>
                    </li>
                    -->

                    <li><a href="/xoblos/conact/">資料請求・問い合わせ</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/xoblos/contact/">***</a></li>
                      </ul>
                    </li>
               
                </div>
              </div>

              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"> <img class="logo-default" src="images/logo-default-198x42.png" alt="" width="198" height="42"/><img class="logo-inverse" src="images/logo-inverse-198x42.png" alt="" width="198" height="42"/></a></div>
              </div>
              
              <!--
              <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
              <div class="rd-navbar-aside-right rd-navbar-collapse">
                <! RD Navbar Search-
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                      <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                      <div class="rd-search-results-live"></div>
                    </div>
                    <button class="rd-search-form-submit mdi mdi-magnify"></button>
                  </form>
                </div><a class="button button-sm button-default-outline" href="contacts.html">request a quote </a>
              </div>
              -->
            </div>
          </nav>
        </div>
</header>
<!--△ヘッダー△-->
