<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="httpAuthModule" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<httpAuthModule>
		<!-- If HttpAuthModule has problems, please contact me, https://github.com/nabehiro/HttpAuthModule -->
		<!--
	  [required] Http Authentication Mode.
	  - Basic: Basic authentication
	  - Digest: Digest authentication
	  - None: No authentication -->
	<add key="AuthMode" value="Digest"/>
	<!-- [optional] default is "SecureZone" -->
	<add key="Realm" value="SecureZone"/>
	<!-- [required if http auth on] user1:pass1;user2:pass2;... -->
	<add key="Credentials" value="webteam:6AJpWaQqDhip;"/>
	<!-- [optional] Digest Auth Nonce Valid Duration Minutes. default is 120 -->
	<add key="DigestNonceValidDuration" value="120"/>
	<!-- [required if digest auth on] Digest Auth Nonce Salt -->
	<add key="DigestNonceSalt" value="uht9987bbbSAX"/>
	<!--
	  [optional] If set, specified IPs are only allowed: otherwize All IPs are allowed.
	  value is joined IP Range Combination as following.
	  - 10.23.0.0/24
	  - 127.0.0.1 (equals to 127.0.0.1/32)
	  - 2001:0db8:bd05:01d2:288a:1fc0:0001:0000/16
	  - ::1 (equals to ::1/128)

	  e.g) 127.0.0.1;182.249.0.0/16;182.248.112.128/26;::1 -->
	<!-- <add key="RestrictIPAddresses" value="127.0.0.1;::1"/> -->
	<!-- [optional] If set, specified pattern url requests are skipped by http auth and IP Restriction. -->
	<!-- <add key="IgnorePathRegex" value="^/Home/Ignore$|^/Ignore\.aspx$|^/Content/"/> -->
	<!-- 
	  [optional] If set,specified IPs requests skip http auth Restriction.
	  value format is same as 'RestrictIPAddresses'
	-->
	<!--<add key="IgnoreIPAddresses" value="127.0.0.1;::1"/>-->
</httpAuthModule>

<system.webServer>
	<modules>
		<add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule" />
	</modules> 

	<rewrite>
		<rewriteMaps>
			<rewriteMap name="StaticRedirects">
				<add key="/cases/2009/09/case004.html" value="/result/2009/09/15.html" />
				<add key="/cases/2009/09/case005.html" value="/result/2009/09/16.html" />
				<add key="/cases/2009/09/case007.html" value="/result/2009/09/18.html" />
				<add key="/cases/2009/09/case010.html" value="/result/2009/09/19.html" />
				<add key="/cases/2009/09/case013.html" value="/result/2009/09/20.html" />
				<add key="/cases/2009/09/case017.html" value="/result/2009/09/21.html" />
				<add key="/cases/2009/09/case020.html" value="/result/2009/09/22.html" />
				<add key="/cases/2009/09/case021.html" value="/result/2009/09/31.html" />
				<add key="/cases/2009/09/case022.html" value="/result/2009/09/23.html" />
				<add key="/cases/2009/09/case023.html" value="/result/2009/09/30.html" />

				<add key="/cases/2009/09/case024.html" value="/result/2009/09/24.html" />
				<add key="/cases/2009/09/case025.html" value="/result/2009/09/29.html" />
				<add key="/cases/2009/09/case026.html" value="/result/2009/09/25.html" />
				<add key="/cases/2009/09/case027.html" value="/result/2009/09/26.html" />
				<add key="/cases/2009/09/case028.html" value="/result/2009/09/28.html" />
				<add key="/cases/2009/09/case029.html" value="/result/2009/09/27.html" />
				<add key="/cases/2009/09/case035.html" value="/result/2009/09/6.html" />
				<add key="/cases/2009/10/case041.html" value="/result/2009/10/41.html" />
				<add key="/cases/2010/03/case048.html" value="/result/2010/03/48.html" />
				<add key="/cases/2010/05/case049.html" value="/result/2010/05/49.html" />

				<add key="/cases/2010/08/case055.html" value="/result/2010/08/55.html" />
				<add key="/cases/2010/10/case056.html" value="/result/2010/10/56.html" />
				<add key="/cases/2011/01/case063.html" value="/result/2011/01/63.html" />
				<add key="/cases/2011/05/case069.html" value="/result/2011/05/69.html" />
				<add key="/cases/2011/06/case070.html" value="/result/2011/06/70.html" />
				<add key="/cases/2011/07/case071.html" value="/result/2011/07/71.html" />
				<add key="/cases/2011/09/case072.html" value="/result/2011/09/72.html" />
				<add key="/cases/2011/10/case073.html" value="/result/2011/10/73.html" />
				<add key="/cases/2011/11/case074.html" value="/result/2011/11/74.html" />
				<add key="/cases/2012/02/case075.html" value="/result/2012/02/75.html" />

				<add key="/cases/2012/05/case076.html" value="/result/2012/05/76.html" />
				<add key="/cases/2012/04/case077.html" value="/result/2012/04/77.html" />
				<add key="/cases/2012/04/case078.html" value="/result/2012/04/78.html" />
				<add key="/cases/2012/05/case079.html" value="/result/2012/05/79.html" />
				<add key="/cases/2012/05/case081.html" value="/result/2012/05/81.html" />
				<add key="/cases/2012/06/case082.html" value="/result/2012/06/82.html" />
				<add key="/cases/2012/07/case083.html" value="/result/2012/07/83.html" />
				<add key="/cases/2012/07/case084.html" value="/result/2012/07/84.html" />
				<add key="/cases/2012/09/case086.html" value="/result/2012/09/86.html" />
				<add key="/cases/2013/02/case092.html" value="/result/2013/02/92.html" />

				<add key="/cases/2013/03/case093.html" value="/result/2013/03/93.html" />
				<add key="/cases/2013/05/case095.html" value="/result/2013/05/95.html" />
				<add key="/cases/2013/06/case096.html" value="/result/2013/06/96.html" />
				<add key="/cases/2013/07/case097.html" value="/result/2013/07/97.html" />
				<add key="/cases/2013/09/case098.html" value="/result/2013/09/98.html" />
				<add key="/cases/2013/12/case099.html" value="/result/2013/12/99.html" />
				<add key="/cases/2014/07/case100.html" value="/result/2014/07/100.html" />
				<add key="/cases/2015/09/case101.html" value="/result/2015/09/101.html" />
				<add key="/cases/2015/09/case102.html" value="/result/2015/09/102.html" />
				<add key="/cases/2015/09/case103.html" value="/result/2015/09/103.html" />

				<add key="/cases/2015/09/case104.html" value="/result/2015/09/104.html" />
				<add key="/cases/2015/10/case107.html" value="/result/2015/10/107.html" />
				<add key="/cases/2015/10/case108.html" value="/result/2015/10/108.html" />
				<add key="/cases/2015/10/case109.html" value="/result/2015/10/109.html" />
				<add key="/cases/2015/10/case111.html" value="/result/2015/10/111.html" />
				<add key="/cases/2015/11/case112.html" value="/result/2015/11/112.html" />
				<add key="/cases/2015/11/case113.html" value="/result/2015/11/113.html" />
				<add key="/cases/2015/11/case114.html" value="/result/2015/11/114.html" />
				<add key="/cases/2016/01/case119.html" value="/result/2016/01/119.html" />
				<add key="/cases/2016/01/case120.html" value="/result/2016/06/120.html" />

				<add key="/cases/2016/03/case121.html" value="/result/2016/03/121.html" />
				<add key="/cases/2016/08/case123.html" value="/result/2016/08/123.html" />
				<add key="/topics/2009/09/techRep001.html" value="/news/2009/09/13.html" />
				<add key="/topics/2009/09/techRep002.html" value="/news/2009/09/14.html" />
				<add key="/topics/2009/09/techRep003.html" value="/result/2009/09/37.html" />
				<add key="/topics/2009/09/techRep004.html" value="/result/2009/09/38.html" />
				<add key="/topics/2009/09/techRep005.html" value="/result/2009/09/39.html" />
				<add key="/topics/2009/09/techRep006.html" value="/result/2009/10/40.html" />
				<add key="/topics/2015/05/techRep019.html" value="/news/2015/05/hyper-v-vmware-esxi.html" />
			</rewriteMap>
		</rewriteMaps>
		<rules>
			<rule name="Redirect rule1 for Redirects">
				<match url=".*" />
				<conditions>
					<add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
				</conditions>
				<action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
			</rule>
			<rule name="Proxy" stopProcessing="true">
				<match url="^vmtopic/(.*)" />
				<action type="Rewrite" url="http://180.222.184.48/vmtopic/{R:1}" />
			</rule>
		</rules>
	</rewrite>
</system.webServer>
</configuration>
