<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
	<rewrite>
		<rewriteMaps>
			<rewriteMap name="StaticRedirects">
				<add key="/result/2009/09/15.html" value="/cases/2009/09/case004.html" />
				<add key="/result/2009/09/16.html" value="/cases/2009/09/case005.html" />
				<add key="/result/2009/09/18.html" value="/cases/2009/09/case007.html" />
				<add key="/result/2009/09/19.html" value="/cases/2009/09/case010.html" />
				<add key="/result/2009/09/20.html" value="/cases/2009/09/case013.html" />
				<add key="/result/2009/09/21.html" value="/cases/2009/09/case017.html" />
				<add key="/result/2009/09/22.html" value="/cases/2009/09/case020.html" />
				<add key="/result/2009/09/31.html" value="/cases/2009/09/case021.html" />
				<add key="/result/2009/09/23.html" value="/cases/2009/09/case022.html" />
				<add key="/result/2009/09/30.html" value="/cases/2009/09/case023.html" />

				<add key="/result/2009/09/24.html" value="/cases/2009/09/case024.html" />
				<add key="/result/2009/09/29.html" value="/cases/2009/09/case025.html" />
				<add key="/result/2009/09/25.html" value="/cases/2009/09/case026.html" />
				<add key="/result/2009/09/26.html" value="/cases/2009/09/case027.html" />
				<add key="/result/2009/09/28.html" value="/cases/2009/09/case028.html" />
				<add key="/result/2009/09/27.html" value="/cases/2009/09/case029.html" />
				<add key="/result/2009/09/6.html" value="/cases/2009/09/case035.html" />
				<add key="/result/2009/10/41.html" value="/cases/2009/10/case041.html" />
				<add key="/result/2010/03/48.html" value="/cases/2010/03/case048.html" />
				<add key="/result/2010/05/49.html" value="/cases/2010/05/case049.html" />

				<add key="/result/2010/08/55.html" value="/cases/2010/08/case055.html" />
				<add key="/result/2010/10/56.html" value="/cases/2010/10/case056.html" />
				<add key="/result/2011/01/63.html" value="/cases/2011/01/case063.html" />
				<add key="/result/2011/05/69.html" value="/cases/2011/05/case069.html" />
				<add key="/result/2011/06/70.html" value="/cases/2011/06/case070.html" />
				<add key="/result/2011/07/71.html" value="/cases/2011/07/case071.html" />
				<add key="/result/2011/09/72.html" value="/cases/2011/09/case072.html" />
				<add key="/result/2011/10/73.html" value="/cases/2011/10/case073.html" />
				<add key="/result/2011/11/74.html" value="/cases/2011/11/case074.html" />
				<add key="/result/2012/02/75.html" value="/cases/2012/02/case075.html" />

				<add key="/result/2012/05/76.html" value="/cases/2012/05/case076.html" />
				<add key="/result/2012/04/77.html" value="/cases/2012/04/case077.html" />
				<add key="/result/2012/04/78.html" value="/cases/2012/04/case078.html" />
				<add key="/result/2012/05/79.html" value="/cases/2012/05/case079.html" />
				<add key="/result/2012/05/81.html" value="/cases/2012/05/case081.html" />
				<add key="/result/2012/06/82.html" value="/cases/2012/06/case082.html" />
				<add key="/result/2012/07/83.html" value="/cases/2012/07/case083.html" />
				<add key="/result/2012/07/84.html" value="/cases/2012/07/case084.html" />
				<add key="/result/2012/09/86.html" value="/cases/2012/09/case086.html" />
				<add key="/result/2013/02/92.html" value="/cases/2013/02/case092.html" />

				<add key="/result/2013/03/93.html" value="/cases/2013/03/case093.html" />
				<add key="/result/2013/05/95.html" value="/cases/2013/05/case095.html" />
				<add key="/result/2013/06/96.html" value="/cases/2013/06/case096.html" />
				<add key="/result/2013/07/97.html" value="/cases/2013/07/case097.html" />
				<add key="/result/2013/09/98.html" value="/cases/2013/09/case098.html" />
				<add key="/result/2013/12/99.html" value="/cases/2013/12/case099.html" />
				<add key="/result/2014/07/100.html" value="/cases/2014/07/case100.html" />
				<add key="/result/2015/09/101.html" value="/cases/2015/09/case101.html" />
				<add key="/result/2015/09/102.html" value="/cases/2015/09/case102.html" />
				<add key="/result/2015/09/103.html" value="/cases/2015/09/case103.html" />

				<add key="/result/2015/09/104.html" value="/cases/2015/09/case104.html" />
				<add key="/result/2015/10/107.html" value="/cases/2015/10/case107.html" />
				<add key="/result/2015/10/108.html" value="/cases/2015/10/case108.html" />
				<add key="/result/2015/10/109.html" value="/cases/2015/10/case109.html" />
				<add key="/result/2015/10/111.html" value="/cases/2015/10/case111.html" />
				<add key="/result/2015/11/112.html" value="/cases/2015/11/case112.html" />
				<add key="/result/2015/11/113.html" value="/cases/2015/11/case113.html" />
				<add key="/result/2015/11/114.html" value="/cases/2015/11/case114.html" />
				<add key="/result/2016/01/119.html" value="/cases/2016/01/case119.html" />
				<add key="/result/2016/06/120.html" value="/cases/2016/01/case120.html" />

				<add key="/result/2016/03/121.html" value="/cases/2016/03/case121.html" />
				<add key="/result/2016/08/123.html" value="/cases/2016/08/case123.html" />
				<add key="/news/2009/09/13.html" value="/topics/2009/09/techRep001.html" />
				<add key="/news/2009/09/14.html" value="/topics/2009/09/techRep002.html" />
				<add key="/result/2009/09/37.html" value="/topics/2009/09/techRep003.html" />
				<add key="/result/2009/09/38.html" value="/topics/2009/09/techRep004.html" />
				<add key="/result/2009/09/39.html" value="/topics/2009/09/techRep005.html" />
				<add key="/result/2009/10/40.html" value="/topics/2009/09/techRep006.html" />
				<add key="/news/2015/05/hyper-v-vmware-esxi.html" value="/topics/2015/05/techRep019.html" />
				<add key="/corporate/" value="/company/" />
				<add key="/result/" value="/cases/" />
			</rewriteMap>
		</rewriteMaps>
		<rules>
			<rule name="Redirect rule1 for Redirects">
				<match url=".*" />
				<conditions>
					<add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
				</conditions>
				<action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
			</rule>
			<rule name="HTTP to HTTPS redirect" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				</conditions>
				<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
			</rule>
			<rule name="Proxy" stopProcessing="true">
				<match url="^vmtopic/(.*)" />
				<action type="Rewrite" url="https://180.222.184.48/vmtopic/{R:1}" />
			</rule>
			<rule name="Proxy LP" stopProcessing="true">
				<match url="^LP/(.*)" />
				<action type="Rewrite" url="https://180.222.184.48/LP/{R:1}" />
			</rule>
		</rules>
	</rewrite>

	<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
	</httpErrors>
</system.webServer>
</configuration>
