---
layout: services
global_menu: services
description: IHSのサービスや取り扱い製品、ソリューションの情報をご覧いただけます。
keywords: サービス,ITサービス,インフラ運用,インフラ構築,Webシステム最適化,セキュリティ,情報システム,WinActor
category:
title: IHSのサービス・製品一覧
---
<section>
	<h1>サービス・製品一覧</h1>
<!--リモート運用
	<div class="blueTtl">
		<section>
			<h2><a href="/services/remote/">リモート運用</a></h2>
			<div class="rimo textAr">
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
			<ul class="detail">
				<li><a href="#">ServiceNow</a></li>
				<li><a href="/services/remote/">リモート運用サービス</a></li>
			</ul>
		</section>
	</div>
!-->

	<div class="blueTtl">
		<section>
			<h2><a href="/winactor/" target="_blank">WinActor</a></h2>
			<div class="win textAr">
				<p>今話題のRPA(ロボティック・プロセス・オートメーション)はルールエンジン・機械学習・人工知能などを活用し、業務を効率化・自動化する仕組みです。教育からサポートまでIHSでご支援させていただきます。</p>
				<p class="link"><a href="/winactor/" target="_blank">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/winactor/overture/" target="_blank">製品概要</a></li>
				<li><a href="/winactor/cases/" target="_blank">導入事例</a></li>			
				<li><a href="/winactor/seminar/" target="_blank">セミナー案内</a></li>
				<li><a href="/winactor/service/" target="_blank">導入・運用サポート</a></li>
				<li><a href="/winactor/contact/" target="_blank">お問合わせ・資料請求</a></li>
			</ul>
		</section>

		<section>
			<h2><a href="/uipath/" target="_blank">UiPath</a></h2>
			<div class="uipath textAr">
				<p>RPA製品で、WinActorとUiPathどちらが御社に適しているか選定基準となるセミナーも開催しております。</p>
				<p class="link"><a href="/uipath/" target="_blank">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/uipath/overture/" target="_blank">製品概要</a></li>			
				<li><a href="/uipath/seminar/" target="_blank">セミナー案内</a></li>
				<li><a href="/uipath/case/" target="_blank">活用事例</a></li>
				<li><a href="/uipath/contact/" target="_blank">お問合わせ・資料請求</a></li>
			</ul>
		</section>

		<section>
			<h2><a href="/xoblos/" target="_blank">xoBlos</a></h2>
			<div class="xoblos textAr">
				<p>「xoBlos（ゾブロス）」は、エクセルが持っている力を最大限に発揮できる"エクセル業務イノベーションプラットフォーム"です。WinActorとの連携もでき、さらなる業務の効率化が期待できます。</p>
				<p class="link"><a href="/xoblos/" target="_blank">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/xoblos/overture/" target="_blank">製品概要</a></li>
				<li><a href="/xoblos/collaboration/" target="_blank">RPA「WinActor」とxoBlos</a></li>
				<li><a href="/xoblos/seminar/" target="_blank">xoBlos製品紹介セミナー</a></li>	
				<li><a href="/winactor/contact/" target="_blank">資料請求・お問い合わせ</a></li>
			</ul>
		</section>

		<section>
			<h2><a href="/services/operation/">インフラ運用</a></h2>
			<div class="ope textAr">
				<p>IHSの提供するインフラ運用サービスは、技術者がお客様先に常駐して運用業務を遂行することを核にノウハウや運用に関連するツールのご提供も含め、定常的な運用タスクの支援からITガバナンスの実現まで幅広くお客様に価値をご提供致します。</p>
				<p class="link"><a href="/services/operation/">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<!--<li><a href="#">ServiceNow</a></li>--><!-- ※一旦、非表示　-->
				<li><a href="/services/operation/support/">運用支援サービス</a></li>
			</ul>
		</section>

		<section>
			<h2><a href="/services/construction/">インフラ構築</a></h2>
			<div class="intro textAr">
				<p>お客様のご要望等に合わせ、インフラ基盤の構築に関する要件定義からドキュメント作成までをサポートいたします。特にWindowsを始めとするMicrosoftソリューションと仮想化ソリューションのVMwareで豊富な実績がございます。クラウドサービスではMicrosoft Azureに強みがございます。</p>
				<p class="link"><a href="/services/construction/">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/services/construction/win10-sccm/">Windows10・SCCMによるトータルソリューションサービス</a></li>
				<li><a href="/services/construction/azure-migration/">Azure構築・移行サービス</a></li>
				<li><a href="/services/construction/DRaaS-with-Azure/">DRaaS with Azure</a></li>
			</ul>
		</section>
		<!--一旦非表示、問題なければ11月頭に削除<section>
			<h2><a href="/services/webSystemOpt/">Webシステム最適化</a></h2>
			<div class="opti textAr">
				<p>貴社のWebシステムは導入目的を十二分に果たし、安全に運用されていますでしょうか。本サービスは、Webシステムの脆弱性診断から、クラウド基盤の活用、最新のCMSを活用したシステム刷新まで、各分野の専門ベンダーと協業することでWebシステムの最適化をトータルにサポートいたします。</p>
				<p class="link"><a href="/services/webSystemOpt/">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/services/webSystemOpt/azureMigration/">WebシステムAzure移行サービス</a></li>
				<li><a href="/services/webSystemOpt/vulnerabilityScan/">Webシステム脆弱性診断サービス</a></li>
			</ul>
		</section>
		-->
		<section>
			<h2><a href="/services/security/">セキュリティ</a></h2>
			<div class="secu textAr">
				<p>情報漏洩対策や監査対応など、情報セキュリティの様々な課題を解決するソリューションをご提供します。製品の販売、導入、運用、保守や、IT資産管理の業務改善をサポートいたします。</p>
				<p class="link"><a href="/services/security/">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/services/security/assetManagement/">IT資産管理サービス</a></li>
				<li><a href="/services/security/#productList">セキュリティ取扱製品一覧</a></li>
			</ul>
		</section>
		<section>
			<h2><a href="/services/other/">その他のソリューション</a></h2>
			<div class="other textAr">
				<p>これまでのインフラの構築や運用、サポートの枠を超え、お客様の真のご要望、ご相談をお伺いし、業務の改善、TCOの削減につながる製品のご紹介を行っております。</p>
				<p class="link"><a href="/services/other/">詳細をみる</a></p>
			</div>
			<ul class="detail">
				<li><a href="/services/other/remote/">リモート型サポートサービス</a></li>
				<li><a href="/services/other/cloud/">クラウド型バックアップサービス</a></li>
			</ul>
		</section>
	</div><!--/.blueTtl-->
	<!--▽最新の導入事例(※全カテゴリから最新4件を表示)▽-->
	{% include content/content_newCase.html %}
	<!--△最新の導入事例△-->

	<!--▽技術レポート（※topicsと技術レポートカテゴリの両方に属する記事から最新4件を表示）▽-->
	{% include content/content_techRepAll.html %}
	<!--△技術レポート△-->
</section>
