<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }}" />

<!--title-->
<title>{{ page.title }}</title>

<!--favicon-->
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/image/common/favicons.png" />

<!--共通css-->
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/bgImg.css" />
<link rel="stylesheet" media="screen and (max-width: 768px)" type="text/css" href="/css/common_smt.css" />

<!--共通js-->
<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<!--GoogleMap-->
{% comment %}
	英語ページに英語のGoogleマップを表示するための設定
	https://developers.google.com/maps/documentation/javascript/examples/map-language?hl=ja
{% endcomment %}
{% if page.dir == "english" %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=en"></script>
{% else %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% endif %}
<script type="text/javascript" src="/js/jmapstyle.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5.min.js"></script>
<![endif]-->

