
<div class="cell-sm-9 cell-md-3 blog-aside">
<nav>
  <div class="blog-aside-item">
  <dl>
    <dt class="act">
      <h6>カテゴリー</h6>
    </dt>
    <dd>
                <ul class="list-marked list-marked-primary">
                  <li><a href="#">特徴</a></li>
                  <li><a href="#">アプリケーション</a></li>
                  <li><a href="#">機能</a></li>
                  <li><a href="#">環境</a></li>
                  <li><a href="#">管理について</a></li>
                  <li><a href="#">ライセンス</a></li>
                  <li><a href="#">サポート</a></li>
                </ul>
    </dd>
  </dl>
</nav>
</div>



