<nav>
    <dl>
        <dt class="act"><a href="/company/">会社情報</a></dt>
        <dd>
            <ul>
                <li{% if page.title == "社長メッセージ" %} class="act"{% endif %}><a href="/company/message/">社長メッセージ</a></li>
                <li{% if page.title == "会社概要" %} class="act"{% endif %}><a href="/company/profile/">会社概要</a></li>
                <li{% if page.title == "経営理念" %} class="act"{% endif %}><a href="/company/vision/">経営理念</a></li>
                <li{% if page.title == "沿革・主要取引先" %} class="act"{% endif %}><a href="/company/history/">沿革・主要取引先</a></li>
                <li{% if page.title == "アクセスマップ" %} class="act"{% endif %}><a href="/company/access/">アクセスマップ</a></li>
            </ul>
        </dd>
    </dl>
</nav>

    <aside id="bnr">
        <ul>
            {% include side/side_bn_cases.html %}
            {% include side/side_bn_tech-rep.html %}
            {% include side/side_bn_contact.html %}
        </ul>
    </aside>
