<div id="sub_services">
<nav>
    <dl>
        <dt class="act"><a href="/services/">サービス・製品</a></dt>
        <dd>
            <ul>
            <!--リモート運用
               <li{% if page.title contains "リモート運用" %} class="act"{% endif %}>
                    <a href="/services/remote/">リモート運用</a>
                </li>
            -->
                <li{% if page.title contains "インフラ運用" %} class="act"{% endif %}>
                    <a href="/services/operation/">インフラ運用</a>
                    <ul>
                    <li{% if page.title contains "運用支援サービス" %} class="act"{% endif %}><a href="/services/operation/support/">運用支援サービス</a></li>                 
                    </ul>
                </li>
                <li{% if page.title contains "インフラ構築" %} class="act"{% endif %}>
                    <a href="/services/construction/">インフラ構築</a>
                    <ul>
                    <li{% if page.title contains "Windows10・SCCMによるトータルソリューション" %} class="act"{% endif %}><a href="/services/construction/win10-sccm/">Windows10・SCCMによる<br>トータルソリューションサービス</a></li>

                    <li{% if page.title contains "Azure構築・移行サービス" %} class="act"{% endif %}><a href="/services/construction/azure-migration/">Azure構築・移行サービス</a></li>

                    <li{% if page.title contains "DRaaS with Azure" %} class="act"{% endif %}><a href="/services/construction/DRaaS-with-Azure/">DRaaS with Azure</a></li>
                    </ul>
                </li>
                <li{% if page.title contains "Webシステム最適化" %} class="act"{% endif %}>
                    <a href="/services/webSystemOpt/">Webシステム最適化</a>
                    <ul>
                    <!--<li{% if page.title contains "WebシステムAzure移行サービス" %} class="act"{% endif %}><a href="/services/webSystemOpt/azureMigration/">Azure移行サービス</a></li>-->
                    <li{% if page.title contains "Webシステム脆弱性診断サービス" %} class="act"{% endif %}><a href="/services/webSystemOpt/vulnerabilityScan/">脆弱性診断サービス</a></li>
                    </ul>
                </li>
                <li{% if page.title contains "セキュリティ" %} class="act"{% endif %}>
                    <a href="/services/security/">セキュリティ</a>
                    <ul>
                    <li{% if page.title contains "IT資産管理支援サービス" %} class="act"{% endif %}><a href="/services/security/assetManagement/">IT資産管理サービス</a></li>
                    <li><a href="/services/security/#productList">セキュリティ取扱製品一覧</a></li>
                    </ul>
                </li>
                <li{% if page.title contains "その他のソリューション" %} class="act"{% endif %}>
                    <a href="/services/other/">その他のソリューション</a>
                    <ul>
                    <li{% if page.title contains "リモート型サポートサービス" %} class="act"{% endif %}><a href="/services/other/remote/">リモート型サポートサービス</a></li>
                    <li{% if page.title contains "クラウド型バックアップサービス" %} class="act"{% endif %}><a href="/services/other/cloud/">クラウド型バックアップサービス</a></li>
                    <li{% if page.title contains "WinActor" %} class="act"{% endif %}><a href="/services/other/winactor/">WinActor</a></li>
                    </ul>
                </li>
            </ul>
        </dd>
    </dl>
</nav>
</div>

    <aside id="bnr">
        <ul>
            {% include side/side_bn_cases.html %}
            {% include side/side_bn_tech-rep.html %}
            {% include side/side_bn_contact.html %}
						{% comment %}
            {% if page.title != "サービス・製品" or page.title != "導入事例" %}{% include side/side_related-services.html %}{% endif %}
						{% endcomment %}
        </ul>
    </aside>
