<!DOCTYPE html>
<html lang="ja">
	<head>
		<!--▽ヘッド▽-->
		{% include head.html %}
		<!--△ヘッド△-->
	</head>
	<body>


		<!--▽コンテンツ▽-->
		<article>
			<section>
				<!--▼キービジュアル▼-->
				
				<!--▲キービジュアル▲-->

				

				<div class="wrap">
					<div id="landing">
						<section>

						{{ content }}

						<!--▽関連事例▽-->
						<!--{% include content/content_relationCase.html %}-->
						<!--△関連事例△-->

						<!--▽技術レポート▽-->
						<!--{% include content/content_techRep.html %}-->
						<!--△技術レポート△-->

						<!--▽お問い合わせ▽-->
						<!--{% include content/content_bn_contact.html %}-->
						<!--△お問い合わせ△-->
						</section>
					</div><!--/.main-->
					

					
				</div><!--/.wrap-->
			</section>
		</article>
		<!--△コンテンツ△-->


		<!--▽フッター▽-->
		{% include footer.html %}
		<!--△フッター△-->
	</body>

</html>
