<!DOCTYPE html>
<html lang="ja">
<head>
<!--▽ヘッド▽-->
{% include head.html %}
<!--△ヘッド△-->
</head>
<body>
	<!--▽ヘッダー▽-->
	{% include header.html %}
	<!--△ヘッダー△-->

	 <!--▽コンテンツ▽-->
	<article>
			<section>
					<!--▼キービジュアル▼-->
					{% include global/global_key_topics.html %}
					<!--▲キービジュアル▲-->

					<!--▼パンくずリスト▼-->
					{% include pan.html %}
					<!--▲パンくずリスト▲-->

					<div class="wrap">
							<div id="main">

								<h1>{{ page.title }}</h1>

								<ul class="topicList">

									{% for post in paginator.posts %}
										<li>
											{% if post.link %}
												<a href="{{ post.link }}" target="_self">
											{% else %}
												<a href="{{ post.url }}" target="_self">
											{% endif %}
												<time>{{ post.date | date: '%Y/%m/%d' }}</time>

												{% if post.categories[0] == "cases" %}
													<div><span class="icon">事例紹介</span></div>
													<p>『{{ post.title }}』を追加しました。</p>
												{% else %}
													<div><span class="icon">{{ post.categories[1] }}</span></div>
													<p>{{ post.title }}</p>
												{% endif %}

											</a>
										</li>
									{% endfor %}

								</ul>

								{% include pagination.html %}

							</div><!--/.main-->

							<div id="sideMenu">
							{% include side/side_topics.html %}
							</div><!--/#sideMenu-->

					</div><!--/.wrap-->
			</section>
	</article>
	<!--△コンテンツ△-->

	<!--▽フッター▽-->
	{% include footer.html %}
	<!--△フッター△-->

</body>

</html>
