---
layout: services
global_menu: services
description: IIMヒューマン・ソリューション（IHS）のサービス・製品情報をご紹介します。
keywords: ITソリューション,ITサービス,システム,導入,運用,保守,IHS
category: 
title: サービス・製品
---
<section>
    <h1>サービス・製品一覧</h1>
    
    <div class="blueTtl">
        <section>
            <h2>インフラ運用</h2>
            <div class="ope textAr">
                <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル
                サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル(100文字以内)</p>
                <p class="link"><a href="operation/index.html">詳細をみる</a></p>
            </div>
            <ul class="detail">
                <!--<li><a href="#">ServiceNow</a></li>--><!-- ※一旦、非表示　-->
                <li><a href="#">運用サービス</a></li>
            </ul>
        </section>

        <section>
            <h2>インフラ構築</h2>
            <div class="intro textAr">
                <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル
                サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル(100文字以内)</p>
                <p class="link"><a href="#">詳細をみる</a></p>
            </div>
            <ul class="detail">
                <li><a href="construction/index.html">DRaaS with Azureサービス</a></li>
            </ul>
        </section>

        <section>
            <h2>Webシステム最適化</h2>
            <div class="opti textAr">
                <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル
                サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル(100文字以内)</p>
                <p class="link"><a href="#">詳細をみる</a></p>
            </div>
            <ul class="detail">
                <li><a href="#">WebシステムAzure移行サービス</a></li>
                <li><a href="#">Webシステム脆弱性診断サービス</a></li>
                <!--<li><a href="#">Sitecore導入サービス</a></li>--><!-- ※一旦、非表示　-->
            </ul>
        </section>

        <section>
            <h2>セキュリティ</h2>
            <div class="secu textAr">
                <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル
                サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル(100文字以内)</p>
                <p class="link"><a href="#">詳細をみる</a></p>
            </div>
            <ul class="detail">
                <li><a href="#">IT資産管理サービス</a></li>
                <li><a href="#">セキュリティ取扱製品一覧</a></li>
            </ul>
        </section>
    </div><!--/.blueTtl-->

<!--▽最新の導入事例▽-->
{% include content/content_newCase.html %}
<!--△最新の導入事例△-->

<!--▽技術レポート▽-->
{% include content/content_techRep.html %}
<!--△技術レポート△-->


</section>
