<nav>
    <dl>
        <dt class="act"><a href="#">Corporate Profile</a></dt>
        <dd>
            <ul>
                <li{% if page.title == "Profile" %} class="act"{% endif %}><a href="#sec1">Profile</a></li>
                <li{% if page.title == "History" %} class="act"{% endif %}><a href="#sec2">History</a></li>
                <li{% if page.title == "Main Customer" %} class="act"{% endif %}><a href="#sec3">Main Customer</a></li>
                <li{% if page.title == "Contact Us" %} class="act"{% endif %}><a href="mailto:web@iimhs.co.jp?subject=問い合わせ&amp;body=ご記入ください">Contact Us</a></li>
            </ul>
        </dd>
    </dl>
</nav>
