<nav>
    <dl>
        <dt class="act"><a href="#">サービス・製品</a></dt>
        <dd>
            <ul>
                <li><a href="#">インフラ運用</a></li>
                <li><a href="#">インフラ導入</a></li>
                <li><a href="#">Webシステム最適化</a></li>
                <li><a href="#">セキュリティ</a></li>
            </ul>
        </dd>
    </dl>
</nav>

    <aside id="bnr">
        <ul>
            {% include side/side_sub_cases.html %}
            {% include side/side_sub_technical-report.html %}
            {% include side/side_sub_contact.html %}
        </ul>
    </aside>
