{% comment %} categoriesに指定している数が2個かそれ以上の数の場合、サイドバーに関連サービスを表示しない {% endcomment %}
{% if page.categories.size >= 2 %}
<li class="svList">
    <dl>
        <dt>関連サービス</dt>
        <dd>
            <ul>
                <!-- ▼親カテゴリ▼ -->
                {% if page.categories contains "インフラ運用" %}<li><a href="/cases/operation/">{{ "インフラ運用" }}</a></li>{% endif %}
                {% if page.categories contains "インフラ構築" %}<li><a href="/cases/construction/">{{ "インフラ構築" }}</a></li>{% endif %}
                <!--{% if page.categories contains "Webシステム最適化" %}<li><a href="#">{{ "Webシステム最適化" }}</a></li>{% endif %}-->
                {% if page.categories contains "セキュリティ" %}<li><a href="/cases/security/">{{ "セキュリティ" }}</a></li>{% endif %}
                <!-- ▲親カテゴリ▲ -->
                <!-- ▼子カテゴリ▼ -->
                <!--{% if page.categories contains "ServiceNow" %}<li><a href="">{{ "ServiceNow" }}</a></li>{% endif %}-->
                {% if page.categories contains "運用サービス" %}<li><a href="">{{ "運用サービス" }}</a>{% endif %}</li>
                {% if page.categories contains "Azureサービス" %}<li><a href="">{{ "Azureサービス" }}</a></li>{% endif %}
                {% if page.categories contains "WebシステムAzure移行サービス" %}<li><a href="">{{ "WebシステムAzure移行サービス" }}</a></li>{% endif %}
                {% if page.categories contains "Webシステム脆弱性診断サービス" %}<li><a href="">{{ "Webシステム脆弱性診断サービス" }}</a></li>{% endif %}
                <!--{% if page.categories contains "Sitecore導入サービス" %}<li><a href="">{{ "Sitecore導入サービス" }}</a></li>{% endif %}-->
                {% if page.categories contains "IT資産管理サービス" %}<li><a href="">{{ "IT資産管理サービス" }}</a></li>{% endif %}
                {% if page.categories contains "セキュリティ取扱製品一覧" %}<li><a href="">{{ "セキュリティ取扱製品一覧" }}</a></li>{% endif %}
                <!-- ▲子カテゴリ▲ -->
            </ul>
        </dd>
    </dl>
</li>
{% endif %}