<!--▽関連事例▽-->
<section>
    <h2>関連事例</h2>
    <p class="link"><a href="#">関連事例一覧へ</a></p>
    <ul class="lineList">
        <li class="triBox">
            <a href="#">
                <section>
                    <h3>仮想基盤上でのクラスタシステム構築</h3>
                    <span class="icon">Webシステム最適化</span>
                    <span class="icon">インフラ運用</span>
                    <p>ハードウェアの保守切れに伴い、仮想化技術を用いたシステム基盤更改を計画されており...</p>
                </section>
            </a>
        </li>
        <li class="triBox">
            <a href="#">
                <section>
                    <h3>Microsoft VDI導入</h3>
                    <span class="icon">インフラ運用</span>
                    <p>既存RD セッションホストサーバの保守サポート期限を控えており、早急なサーバ更改...</p>
                </section>
            </a>
        </li>
        <li class="triBox">
            <a href="#">
                <section>
                    <h3>保守切れに伴うネットワーク機器更改</h3>
                    <span class="icon">Webシステム最適化</span>
                    <span class="icon">インフラ運用</span>
                    <span class="icon">インフラ導入</span>
                    <span class="icon">セキュリティ</span>
                    <p>保守期限が終了した機器は、障害発生率の向上や保守費用の増加、部品到着の遅れなどが...</p>
                </section>
            </a>
        </li>
        <li class="triBox">
            <a href="#">
                <section>
                    <h3>SQL Server リプレース + 冗長機能構築</h3>
                    <span class="icon">インフラ運用</span>
                    <span class="icon">インフラ導入</span>
                    <span class="icon">セキュリティ</span>
                    <p>アプリケーションのサポート終了に伴い、データベースサーバのリプレースを検討されて...</p>
                </section>
            </a>
        </li>
    </ul>
</section>
<!--△関連事例△-->