<!--▽技術レポート▽-->
<section>
    <h2>技術レポート</h2>
    <p class="link"><a href="#">技術レポート一覧へ</a></p>
    <ul class="repoList">
        <li>
            <a href="#">
                <section>
                    <h3>Hyper-VとVMWare ESXiの違い</h3>
                    <span class="icon">Webシステム最適化</span>
                    <span class="icon">インフラ運用</span>
                    <span class="icon">インフラ導入</span>
                    <span class="icon">セキュリティ</span>
                    <p>今日「仮想化」の分野における両雄ですが、どちらもこの数年の間に新しい製品が次々と...</p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <section>
                    <h3>ILM2007によるユーザーアカウント情報統合化</h3>
                    <span class="icon">インフラ運用</span>
                    <span class="icon">インフラ導入</span>
                    <p>世の中の企業のほとんどは多種多様なシステムを導入され、業務の効率化という観点にお...</p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <section>
                    <h3>マイクロソフト仮想化(Hyper-V)について</h3>
                    <span class="icon">インフラ運用</span>
                    <p>昨今、IT業界において仮想化の技術は幅広く浸透してきました。仮想化技術が進歩する...</p>
                </section>
            </a>
        </li>
        <li>
            <a href="#">
                <section>
                    <h3>Windows 7移行の注意点</h3>
                    <span class="icon">インフラ運用</span>
                    <span class="icon">インフラ導入</span>
                    <p>世の中にWindows 7が登場してある程度落ち着いてきました。各企業様も従来の...</p>
                </section>
            </a>
        </li>
    </ul>
</section>
<!--△技術レポート△-->