<!DOCTYPE html>
<html lang="ja">
<head>
<!--▽ヘッド▽-->
{% include head.html %}
<!--△ヘッド△-->
</head>
<body>
        <!--▽ヘッダー▽-->
        {% include header.html %}
        <!--△ヘッダー△-->

         <!--▽コンテンツ▽-->
        <article>
            <section>
                <!--▼キービジュアル▼-->
                {% include global/global_key_company.html %}
                <!--▲キービジュアル▲-->
                
                <!--▼パンくずリスト▼-->
                {% include pan.html %}
                <!--▲パンくずリスト▲-->

                <div class="wrap">
                    <div id="main">

                    {{ content }}

                    </div><!--/.main-->

                    <div id="sideMenu">
                    {% include side/side_company.html %}
                    </div><!--/#sideMenu-->

                </div><!--/.wrap-->
            </section>
        </article>
        <!--△コンテンツ△-->

        <!--▽フッター▽-->
        {% include footer.html %}
        <!--△フッター△-->

</body>

</html>
