<!DOCTYPE html>
<html lang="ja">
	<head>
		<!--▽ヘッド▽-->
		{% include head.html %}
		<!--△ヘッド△-->
	</head>
	<body>
		<!--▽ヘッダー▽-->
		{% include header.html %}
		<!--△ヘッダー△-->

		<!--▽コンテンツ▽-->
		<article>
			<section>
				<!--▼キービジュアル▼-->
				{% include global/global_key_services.html %}
				<!--▲キービジュアル▲-->

				<!--▼パンくずリスト▼-->
				{% include pan.html %}
				<!--▲パンくずリスト▲-->

				<div class="wrap">
					<div id="main">
						<section>

						{{ content }}

						<!--▽関連事例▽-->
						{% include content/content_relationCase.html %}
						<!--△関連事例△-->

						<!--▽技術レポート▽-->
						{% include content/content_techRep.html %}
						<!--△技術レポート△-->

						</section>
					</div><!--/.main-->

					<div id="sideMenu">
						{% include side/side_services.html %}
					</div><!--/#sideMenu-->

				</div><!--/.wrap-->
			</section>
		</article>
		<!--△コンテンツ△-->


		<!--▽フッター▽-->
		{% include footer.html %}
		<!--△フッター△-->
	</body>

</html>
