<!DOCTYPE html>
<html lang="ja">
<head>
	<!--▽ヘッド▽-->
	{% include head.html %}
	<!--△ヘッド△-->

	<!--ページ専用css-->
	<link rel="stylesheet" type="text/css" href="css/slick.css" />
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/top.css" />
	<link rel="stylesheet" media="screen and (max-width: 768px)" type="text/css" href="css/top_smt.css" />

	<!--ページ専用js-->
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<!--▽ヘッダー▽-->
	{% include header.html %}
	<!--△ヘッダー△-->

	{{ content }}

	<!--▽フッター▽-->
	{% include footer.html %}
	<!--△フッター△-->
</body>
</html>
