<!DOCTYPE html>
<html lang="ja">
<head>
<!--▽ヘッド▽-->
{% include head.html %}
<!--△ヘッド△-->
</head>
<body>
	<!--▽ヘッダー▽-->
	{% include header.html %}
	<!--△ヘッダー△-->

	 <!--▽コンテンツ▽-->
	<article>
			<section>
					<!--▼キービジュアル▼-->
					{% include global/global_key_topics.html %}
					<!--▲キービジュアル▲-->

					<!--▼パンくずリスト▼-->
					{% include pan.html %}
					<!--▲パンくずリスト▲-->

					<div class="wrap">
							<div id="main">

								<h1>{{ page.title }}</h1>

								<ul class="topicList">

									{% for post in paginator.posts %}
										<li>
											<a href="{{ post.url }}" target="_self">
												<time>{{ post.date | date: '%Y/%m/%d' }}</time>

												{% if post.categories[0] == "cases" %}
													<div><span class="icon">事例紹介</span></div>
													<p>『{{ post.title }}』を追加しました。</p>
												{% else %}
													<div><span class="icon">{{ post.categories[1] }}</span></div>
													<p>{{ post.title }}</p>
												{% endif %}

											</a>
										</li>
									{% endfor %}

								</ul>

								<ul class="pagenation">
									{% if paginator.previous_page_path %}
									<li>
										<a href="{{ paginator.previous_page_path }}">
											<img src="/image/common/icon_prav.png" alt="前へ" width="9" height="16" />
										</a>
									</li>
									{% endif %}

									{% for i in (1..paginator.total_pages) %}

										{% comment %}
											* 各ページネーションのリンクURLを生成
											* ページネーションの1ページ目は本ページのURLを設定
											* urlに"//"が出力される場合があるため"/"に置換 
										{% endcomment %}
										{% capture paginator_url %}
											/{{ page.dir }}{{ page.paginate.permalink | replace: ":num", i }}
										{% endcapture %}
										{% if i == 1 %}
											{% capture paginator_url %}
											/{{ page.dir }}/{% if page.name != "index.html" %}{{ page.name }}{% endif %}
											{% endcapture %}
										{% endif %}
										{% capture paginator_url %}
											{{ paginator_url | replace: "//", "/" }}
										{% endcapture %}
	
										<li{% if paginator.page == i %} class="act"{% endif %}><a href="{{ paginator_url }}">{{ i }}</a></li>

									{% endfor %}

									{% if paginator.next_page_path %}
									<li>
										<a href="{{ paginator.next_page_path }}">
											<img src="/image/common/icon_next.png" alt="次へ" width="9" height="16" />
										</a>
									</li>
									{% endif %}
								</ul>

							</div><!--/.main-->

							<div id="sideMenu">
							{% include side/side_topics.html %}
							</div><!--/#sideMenu-->

					</div><!--/.wrap-->
			</section>
	</article>
	<!--△コンテンツ△-->

	<!--▽フッター▽-->
	{% include footer.html %}
	<!--△フッター△-->

</body>

</html>
