<!DOCTYPE html>
<html lang="ja">
        <!--▽ヘッド▽-->
        {% include head.html %}
        <!--△ヘッド△-->

  <body>
        <!--▽ヘッダー▽-->
        {% include header.html %}
        <!--△ヘッダー△-->

         <!--▽コンテンツ▽-->
        <article>
            <section>
                <!--▼キービジュアル▼-->
                {% if page.title == "個人情報保護ポリシー" %}{% include global/global_key_policy.html %}{% endif %}
                {% if page.title == "サイトポリシー" %}{% include global/global_key_sitePolicy.html %}{% endif %}
                {% if page.title == "サイトマップ" %}{% include global/global_key_siteMap.html %}{% endif %}
                <!--▲キービジュアル▲-->
                
                <!--▼パンくずリスト▼-->
                {% include pan.html %}
                <!--▲パンくずリスト▲-->

                <div class="wrap">
                    <div id="main">

                    {{ content }}

                    </div><!--/.main-->

                    <div id="sideMenu">
                    {% include side/side_utility.html %}
                    </div><!--/#sideMenu-->

                </div><!--/.wrap-->
            </section>
        </article>
        <!--△コンテンツ△-->

        <!--▽フッター▽-->
        {% include footer.html %}
        <!--△フッター△-->

  </body>

</html>
